* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
h6 a {
  text-decoration: none;
  color: black;
}

#contact-section {
  background-image: url(../img/background-img.png);
}
button {
  border: none;
  border-radius: 3px !important;
}

@media screen and (max-width: 426px) {
  .contact-part img, .contact-part .phone-no {
    display: none !important;
  }
  .media-part {
    display: none !important;
  }
  .link-up {
    display: none !important;
  }
  .crosson-logo {
    margin-right: auto;
  }
  .copy-right {
    display: none;
  }
  .question-part {
    display: none;
  }
  .p, h6 {
    font-size: 10px !important;
  }
}
